

body{
    background-color: rgba(235, 165, 0, 0.682);
    margin: 15px;
}
.container{
    text-align: center;
}
h1 {
color: rgb(133, 19, 19);
font-size: 56px;
font-family:Georgia, 'Times New Roman', Times, serif
}
.famoso{
    text-align: center;
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h5{
    font-size: 36px;
    color: #683000;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56%; 
    border-radius: 15px;
}
p{
    font-size: 28px;
}
.ch{
    color: rgb(133, 19, 19);
    font-size: 40%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.texto{
    color: black;
    font: size 44px;
}
h3{
    color: rgb(133, 19, 19);
    font-size:30px;
}
h4{
    font-size: 28px;
}
.curiosidade{
font-size: 28px;

}
ul{
    font-size: 28px;
}
footer{
    background-color: rgb(239, 237, 233);
    padding: top 2px;
}
.contenerrr{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;

}
.footer{
    width: 33.3%;
}
h6{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(75, 6, 153);
}
.footer-content{
width:190px;
  margin: auto;
 padding: 0px;
}
    .footer-content ul{
        text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: 3px;
        text-align: center;
        list-style-type:none;
        padding: 7px;
        position: relative;
    }
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #000000;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 60px;
    }
 a{
        text-decoration: none;
    }
    a:hover{
        color: #f18930;
    }
    .social-icons i:hover{
        color: #f18930;
    }
    .bottom-bar{
        background: #f18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 5px;
    }
    .bottom-bar p{
        color: #000000;
        margin: 0;
        font-size: 16px;
        }
  .social{
        text-align: center;
        padding: 0;
    }
    .social li{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }
    .social li{
        color: rgb(242, 0, 0);
        font-size: 20px;
    }





